# Core Frameworks & APIs
streamlit
fastapi
uvicorn

# XML Processing
xmlschema
lxml

# AI & Machine Learning
langchain
langraph
openai
groq
transformers
sentence-transformers
gensim
numpy
pandas
scikit-learn
tensorflow
pytorch 

# Testing
pytest
unittest





# to activate venv :  venv\Scripts\activate
# to run chatbot in streamlit :  streamlit run "D:\arxml\AUTOSAR_ARXML_Validator (MAIN)\app\main.py